@import url('https://fonts.googleapis.com/css?family=Inter');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
}

.brewery-details-modal {
 padding: 16px;
  border: 2px solid #ececec;
  border-radius: 8px;
  background:rgb(192, 95, 95);
  width: '400px';
  height: '400px';
}

button {
  font-size: 18px;
  background-color: #d97013;
  border: 0;
  border-radius: 20px;
  color: white;
  display: inline-block;
  padding: 15px;
  margin: 20px;
}
 button:hover {
  background-color: rgb(48, 65, 170);
  transition: 1s background ease;
}

.list-container {
  background:#a6dfea;
  padding: 25px;
  border: 0.75px solid #ECECEC;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;

}

.list-entry {
  padding: 16px;
  margin: 16px;
  border: 0.75px solid #ECECEC;
  border-radius: 8px;
  background:#ccc;
  box-shadow: 0 2px 5px #ccc;
  position:inherit;
}

.title {
  text-align: center;
}

